doctype html
html
  head
    meta(name="viewport", content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0")
    title!= title
    style html, body, #app { width: 100%; margin: 0; paddin: 0 }
  body(data-browser=data)!= body